.navbar { color: white; background-color: #727272; border-radius: 0px; border: 1px; min-height: 40px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)}
.logo { color: white; float: left; height: 40px; padding: 15px 15px; font-size: 18px; line-height: 10px; }
.top-block { height: 15px; background-color: #f7b111; color: black; }
.navbar-dropdown { color: white; background-color: inherit; border: none; height: 40px; padding-left: 15px; padding-right: 15px; }
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover { color: white; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px;}
.dropdown:hover { color: white; cursor: pointer;}
.dropdown-panel { 
	background-color: white; 
	z-index: 2; 
	min-width: 130px; 
	width: max-content;
	position: absolute; 
	right: 0px; 
	border: 1px solid lightgrey; 
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	visibility: hidden;
	opacity: 0;
	color: black;
	padding: 20px;
}
.dropdown-block { 
	pointer-events: none; 
	position: absolute; 
	height: 5px; 
	width: 100%; 
	background-color: #f7b111; 
	z-index: 3; bottom: 0px; 
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 300ms, visibility 300ms;
	transition: opacity 300ms, visibility 300ms;
}
.dropdown:hover ~ .dropdown-block { visibility: visible; opacity: 1; }
.visible { visibility: visible; opacity: 1; }
.cart { cursor: pointer;}
.cart:hover ~ .dropdown-block, .dropdown-block:hover { visibility: visible; opacity: 1; }
.dropdown-panel li { padding: 20px 20px; cursor: pointer;}
.dropdown-panel li a { text-decoration: none; color: black; }
.dropdown-panel li:hover { background-color: lightgrey }
.warna { width: 20px; height: 20px; display: inline-block; position: relative; top: 5px; left: 5px; border: 1px solid lightgrey;}

.slider-background { background-size: cover !important; width: 100%; height: 400px; background-position: center center !important; }
.features { padding: 30px 0px; border: 1px solid #ededed; background-color: #f4f4f4}
.features ul { list-style-type: none; margin-bottom: 0px; display: flex; }
.feature-icon { text-align: center; width: 20%; display: inline; font-size: 2.4em; line-height: 0px;}
.feature-info { text-align: left; width: 80%; margin-left: 5px; }
.feature-title { font-size: 1.2em; margin: 0; font-weight: 600 }
.feature-desc { font-size: 1em; margin: 0; }

.container-fluid { padding-right: 0px; padding-left: 0px; }
.block-title { padding: 50px 0; font-size: 2em; font-weight: 250; margin-bottom: 70px; }
.product-container .image { height: 300px; border: 1px solid lightgrey; margin-top: 15px;}
.product-container img { width: 100%; }
.product-container .info { height: 50px; text-align: center; font-size: 1.3em; }

.form-container, .tshirt-summary { padding: 25px 20px; }
.form-container label { font-size: 1em; }
.formsection { padding: 0px 20px; }
.sectiontitle { font-size: 1.3em; border-bottom: 1px solid #f7b111; margin-bottom: 20px; }
.chooser { font-size: unset !important; }
.chooser-item { zoom: 1; cursor: default; }

.chooser .chooser-item{
	padding: 11px;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	border: 2px solid #efefef;
	margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.chooser .chooser-item:hover { border: 2px solid #f7b111; }
.chooser .chooser-item.selected { border: 2px solid #f7b111; padding: 8px; }
.chooser .chooser-item img{ padding: 0; }
.chooser .chooser-item span.title{ display: block; font-weight: bold; font-size: 12px; }
.chooser .chooser-item span.description{ font-size: 0.9em; }
.chooser .chooser-item input{ position: absolute; left: 0; top: 0; visibility:hidden; }
.finishbutton { padding-top: 35px; }
.finishbutton a { padding: 10px 90px; }
.btn-default { background-color: #f7b111; border: 1px solid #ffdb5b; border-radius: 1px; }
.container-total { width: 100%; font-size: 1.2em; border-top: 1px solid #f7b111; padding-top: 20px;}
#totalHarga { font-weight: 300 }
.right { float: right; }

#address-form .form-group { width: 100%; padding: 10px 0px;}
#address-form label { width: 30%; }
#address-form input, #address-form textarea, #address-form select { width: 69%; }
#kodepos { min-width: 100px; width: 10%; }
.text { font-weight: 600; }
.text2 { text-align: right; }
.total { font-weight: 700; font-size: 1.3em; }
#cost-info td { border: none; padding-top: 5px; }

#ringkasan-container { border-bottom: 1px solid #f7b111; margin-bottom: 15px; }
#ringkasan-container div { display: inline-block; }
#ringkasan-container .gambar { width: 35%; padding: 10px; }
#ringkasan-container .gambar img { width: 100% }
#ringkasan-container .info { width: 65%; position: relative; top: 10px;}
#ringkasan-container .info span { display: inline-block; width: 30%; font-weight: 600; }
#ringkasan-container .info .itemname { display: block; font-size: 1.2em; color: #f7b111; width: 100%; font-weight: unset;}
#ringkasan-container .info .harga { width: 50%; font-weight: unset; }
#ringkasan-container .info .jumlah { width: 50%; font-weight: unset; }

th, td { border-bottom: 1px solid #ddd; border-top: none !important; }
.footer { background-color: grey; color: white; height: 200px; margin-top: 100px; text-align: center;}